<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

   <!-- Controller 객체들 자동으로 생성하기 -->
   <context:component-scan base-package="kdb.spring.web.controller"/>
   
   <!-- ViewResolver 등록하기 -->
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/view/" />   <!-- view에 해당하는 폴더 경로 -->
      <property name="suffix" value=".jsp" />   <!-- view의 확장자 -->
      <property name="order" value="2"/>
   </bean>
   

   <!-- json등록 -->
   <bean class="net.sf.json.spring.web.servlet.view.JsonView" id="jsonView">
      <property name="contentType" value="text/html;charset=UTF-8"/>
   </bean>
   
   
   <!-- viewResolver를 찾을 때 id의 이름으로 찾을 수 있도록 설정 -->
   <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" >
      <property name="order" value="1"/>
   </bean>

   <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver"/>
</beans>